{
  "tabWidth": 4,
  "semicolons": false,
  "singleQuote": true,
  "trailingCommas": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 100
}
